In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
my_ser = Series([1,2,3,4], index=['a','b', 'c', 'd'])

In [5]:
my_sererser

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
my_index = my_ser.index
my_index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
my_index[2]

'c'

In [11]:
my_index[2:]

Index(['c', 'd'], dtype='object')

In [12]:
my_index[:2]

Index(['a', 'b'], dtype='object')

In [13]:
my_index[2] = 'C'

TypeError: Index does not support mutable operations

In [14]:
#REINDEXING

In [15]:
ser1 = Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [17]:
ser2 = ser1.reindex(['a', 'b', 'c','d','e','f'])
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [20]:
ser2.reindex(['a', 'b', 'c','d','e','f','g'], fill_value=0)
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [21]:
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [22]:
ser2.reindex(['a','b','c','d','e','f','g'], fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
g    0.0
dtype: float64

In [27]:
ser3 = Series(['USA', 'Mexio', 'Canada'], index=[0,5,10])

In [28]:
ser3

0        USA
5      Mexio
10    Canada
dtype: object

In [29]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5      Mexio
6      Mexio
7      Mexio
8      Mexio
9      Mexio
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [40]:
dframe = DataFrame(np.random.randn(25).reshape((5,5)), 
                   index=['a','b','d','e','f'], 
                   columns=['col1', 'col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
a  0.918189  1.180751  0.288835  0.613663  0.458258
b -0.653060  1.083180  0.621407  0.287801 -1.380880
d  0.331596  0.132834  0.199860  0.337082  0.617351
e  2.498660 -1.956583  1.715299  1.311738  0.039694
f -0.522379  0.369818  0.504692  1.133797  0.175308

In [41]:
dframe2 = dframe.reindex(['a','b','c','d','e','f'])

In [42]:
dframe2

       col1      col2      col3      col4      col5
a  0.918189  1.180751  0.288835  0.613663  0.458258
b -0.653060  1.083180  0.621407  0.287801 -1.380880
c       NaN       NaN       NaN       NaN       NaN
d  0.331596  0.132834  0.199860  0.337082  0.617351
e  2.498660 -1.956583  1.715299  1.311738  0.039694
f -0.522379  0.369818  0.504692  1.133797  0.175308

In [43]:
new_columns = ['col1', 'col2','col3','col4','col5','col6']

In [44]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
a  0.918189  1.180751  0.288835  0.613663  0.458258   NaN
b -0.653060  1.083180  0.621407  0.287801 -1.380880   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d  0.331596  0.132834  0.199860  0.337082  0.617351   NaN
e  2.498660 -1.956583  1.715299  1.311738  0.039694   NaN
f -0.522379  0.369818  0.504692  1.133797  0.175308   NaN

In [45]:
dframe

       col1      col2      col3      col4      col5
a  0.918189  1.180751  0.288835  0.613663  0.458258
b -0.653060  1.083180  0.621407  0.287801 -1.380880
d  0.331596  0.132834  0.199860  0.337082  0.617351
e  2.498660 -1.956583  1.715299  1.311738  0.039694
f -0.522379  0.369818  0.504692  1.133797  0.175308

In [50]:
dframe.ix[['a','b','c','d','e','f'], new_columns]
dframe

       col1      col2      col3      col4      col5
a  0.918189  1.180751  0.288835  0.613663  0.458258
b -0.653060  1.083180  0.621407  0.287801 -1.380880
d  0.331596  0.132834  0.199860  0.337082  0.617351
e  2.498660 -1.956583  1.715299  1.311738  0.039694
f -0.522379  0.369818  0.504692  1.133797  0.175308

In [47]:
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [48]:
dframe

       col1      col2      col3      col4      col5
a  0.918189  1.180751  0.288835  0.613663  0.458258
b -0.653060  1.083180  0.621407  0.287801 -1.380880
d  0.331596  0.132834  0.199860  0.337082  0.617351
e  2.498660 -1.956583  1.715299  1.311738  0.039694
f -0.522379  0.369818  0.504692  1.133797  0.175308

In [49]:
dframe.ix[['a','b','c','d','e','f'], new_columns]

       col1      col2      col3      col4      col5  col6
a  0.918189  1.180751  0.288835  0.613663  0.458258   NaN
b -0.653060  1.083180  0.621407  0.287801 -1.380880   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d  0.331596  0.132834  0.199860  0.337082  0.617351   NaN
e  2.498660 -1.956583  1.715299  1.311738  0.039694   NaN
f -0.522379  0.369818  0.504692  1.133797  0.175308   NaN