In [2]:
import numpy as np

In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [7]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,Eas

In [8]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [9]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
Name: Team, dtype: object

In [12]:
nfl_frame['Season']

0      866
1     1921
2    1,354
3      784
4     1960
Name: Season, dtype: object

In [14]:
DataFrame(nfl_frame, columns=['Team', 'Season', 'Games'])

      Team Season  Games
0   Dallas    866   East
1    Green   1921    NFC
2  Chicago  1,354  North
3    Miami    784   East
4      New   1960    AFC

In [16]:
nfl_frame.head(1)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.0,866,NFC,East,NaN

In [17]:
nfl_frame.tail(1)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
4,5,New,England,Patriots,476,383,9.0,0.554,1960,868,AFC,Eas

In [18]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [21]:
nfl_frame['Stadium'] = 'Qualcom'
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Qualcom
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Qualcom
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Qualcom
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Qualcom
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,Eas,Qualcom

In [22]:
nfl_frame['Stadium'] = np.arange(5)

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,0
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,Eas,4

In [27]:
stadiums = Series(['Levi Stadium', 'At&T Stadium'], index=[4,0])

In [28]:
stadiums

4    Levi Stadium
0    At&T Stadium
dtype: object

In [29]:
nfl_frame['Stadium'] = stadiums

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,At&T Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,Eas,Levi Stadium

In [32]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,Eas

In [33]:
data = {'City': ['SF', 'LA', 'Denver'], 'Population':['83700', '3880000', '1500000']}

In [34]:
city_frame = DataFrame(data)
city_frame

     City Population
0      SF      83700
1      LA    3880000
2  Denver    1500000